---
import { Image } from 'astro:assets'
import type { ImageMetadata } from 'astro'

/**
 * ASIC保障措施卡片组件
 *
 * @description 展示ASIC如何保障客户的各项措施
 * @example
 * import fundIsolationIcon from '@/assets/icons/asic/fund-isolation.svg'
 * <AsicProtection
 *   title="客户资金隔离"
 *   description="ASIC要求将客户资金与公司的运营资金分开存放..."
 *   icon={fundIsolationIcon}
 *   iconBgColor="bg-primary"
 * />
 */

interface Props {
  /** 保障措施标题 */
  title: string
  /** 保障措施描述 */
  description: string
  /** 图标资源 */
  icon: ImageMetadata
  /** 图标背景颜色 */
  iconBgColor?: string
}

const { title, description, icon, iconBgColor = 'bg-primary' } = Astro.props
---

<div
  class="rounded-card flex h-[253px] lg:h-[400px] flex-col bg-light-bg p-8 rounded-[18px] lg:rounded-[32px] lg:p-10"
>
  <!-- 图标 -->
  <div class="mb-4 md:mb-6 lg:mb-8">
    <div
      class={`${iconBgColor} rounded-full w-[40px] h-[40px] md:w-[54px] md:h-[54px] lg:w-[70px] lg:h-[70px] overflow-hidden`}
    >
      <Image
        src={icon}
        alt=""
        class="size-full"
      />
    </div>
  </div>

  <!-- 标题 -->
  <h3
    class=" font-normal leading-tight text-black text-heading-3 lg:mt-14 lg:whitespace-normal"
  >
    {title}
  </h3>

  <!-- 描述 -->
  <p class="text-sm leading-relaxed text-black md:text-sm lg:text-base mt-auto lg:mt-6">
    {description}
  </p>
</div>
