---
import { Image } from 'astro:assets'
import { ImageMetadata } from 'astro'
/**
 * 团队成员卡片组件
 *
 * @description 展示单个团队成员的信息，包含头像、姓名、职位和简介
 */

interface Props {
  /** 成员姓名 */
  name: string
  /** 成员职位 */
  position: string
  /** 成员简介 */
  bio: string
  /** 头像图片 URL */
  avatar: ImageMetadata
}

const { name, position, bio, avatar } = Astro.props
---

<div class="flex flex-col items-center text-center">
  <!-- 头像 -->
  <div
    class="group mb-6 size-[108px]  md:h-[170px] md:w-[170px] lg:mb-8 lg:h-[189px] lg:w-[189px]"
  >
    <Image
      src={avatar}
      alt={name}
      class="h-full w-full object-cover transition-transform duration-300 group-hover:scale-110"
      loading="lazy"
    />
  </div>

  <!-- 姓名和职位 -->
  <h3 class="text-heading-3 mb-4 font-bold text-white lg:mb-6">
    {name}
    <span class="text-white/60">|</span>
    {position}
  </h3>

  <!-- 简介 -->
  <p class="text-body-sm max-w-[485px] text-white">
    {bio}
  </p>
</div>
